.modal {
  visibility: hidden;
  display: flex;
  flex-direction: row;
  width: 300px;
  background-color: white;
}
.modal__btn {
  width: 64px;
  height: 64px;
  background-color: white;
  border: none;
}
.modal__priority {
  display: inline-block;
  margin-right: 200px;
}
.modal__btn--close {
  width: 20px;
  height: 20px;
  background-image: url(/src/images/Close.svg);
}
.modal__btn--high {
  background-image: url(/src/images/red-flag-icon.svg);
}
.modal__btn--normal {
  background-image: url(/src/images/flag-green-icon.svg);
}
.modal__btn--low {
  background-image: url(/src/images/flag-orange-icon.svg);
}
